<!DOCTYPE html>
<html lang="en">
<head>
	<meta charset="UTF-8">
	<title>Categories</title>
	<link rel="stylesheet" href="/stylesheets/category.css" />
</head>
<body>

<header class="homeHeader"> 
	<h1>Listings</h1>
</header>

	{{#title}}
	<h1>{{.}}</h1>
	{{/title}}


</body>
</html>