<!DOCTYPE html>
<html lang="en">
<head>
	<meta charset="UTF-8">
	<title>Categories</title>
	<link rel="stylesheet" href="/stylesheets/category.css" />
</head>
<body>

<header class="homeHeader"> 
	<h1>Listing: {{category}}</h1>
	<div class="viewType">
		<a href="/categories/{{category}}/list">List</a>
		<a href="/categories/{{category}}/thumb">Thumb</a>
		<a href="/categories/{{category}}/gallery">Gallery</a>
	</div>
	<div class="nav">
		<a href="/">Back</a>
	</div>
</header>
	
	<div class="{{view}}">
	{{#listings}}
		<h1><a href="/single-listing/{{id}}"><img src="http://placehold.it/200/200"/>{{title}}</a></h1>
	{{/listings}}
	</div>

</body>
</html>