<!DOCTYPE html>
<html lang="en">
<head>
	<meta charset="UTF-8">
	<title>{{title}}</title>
	<link rel="stylesheet" href="/stylesheets/home.css" /> 
</head>
<body>

	<header class="homeHeader">
		<a href="/logout">Logout</a>
		<h1>Ryan's List &copy;</h1>
		<a href='/post'>Post</a>
	</header>

{{#categories}}
<div class="homeCategories">	
	<div class="homeTitle">
		<h2 class="h2top">{{title}}</h2>
	</div>

	<div class="subContainer">
	{{#subcat}}
		<p><a href="categories/{{slug}}">{{title}}</a></p>
	{{/subcat}}
	</div>	
</div>
{{/categories}}

	<footer class="homeFooter">
		<h1 class="bottom">Ryan's List &copy;</h1>
		<h6 class="design">Kay Designs<h6>
	</footer>

</body>
</html>