<!DOCTYPE html>
<html lang="en">
<head>
	<meta charset="UTF-8">
	<title>Post</title>
	<link rel="stylesheet" href="/stylesheets/post.css" /> 
</head>
<body>
	<header>
		<h1>Create A Post</h1>
	</header>

	<div class="titleStuff">
		<form action="add-post" method="POST" enctype="multipart/form-data">
			<label>
				<input class="title" type="text" placeholder="Title" name="title">
			</label>
	</div>
		
	<div class="descStuff">
		<textarea rows="6" cols="75" placeholder="Post Description" name="description"></textarea>
	</div>
	
	<div class="imgStuff">	
		<h3>Upload A Picture</h3>
		<input type="file" name="listingImg" formenctype="multipart/form-data">
	</div>
	
	<div class="catStuff">
		<select name="category">
		{{#categories}}
			<optgroup label="{{title}}">
				{{#subcategories}}
					<option value="{{id}}">{{title}}</option>
				{{/subcategories}}
			</optgroup>
		{{/categories}}
		</select>
	</div>

	<div class="addMe">
		<button class="complete" type="submit">Add</button>
	</div>

	</form>

</body>
</html>