<!DOCTYPE html>
<html lang="en">
<head>
	<meta charset="UTF-8">
	<title>Post</title>
</head>
<body>
	
	<form action="/images" method="POST" enctype="multipart/form-data">
	
	<input type="text" placeholder="yo">

	<input name="picture" type="file" name="image">
	<input type="submit" value="Upload Image">

	</form>

</body>
</html>