<!DOCTYPE html>
<html lang="en">
<head>
	<meta charset="UTF-8">
	<title>{{title}}</title>
	<link rel="stylesheet" type="text/css" href="/stylesheets/single.css">
</head>
<body>
	<header>
		<h1>{{title}}</h1>
		<div class="nav">
			<a href="/categories/{{slug}}">Back To: {{category}}</a>
		</div>	
	</header>
	

	<div class="singleView">
		<div class="picStuff">
			<img src="{{image}}" />
		</div>
		<div class="descStuff">
			<p>{{description}}</p>
		</div>
	</div>

</body>
</html>